
* {
    box-sizing: border-box;
}

/* STYLING FOR ALL DEVICES AND LAYOUT FOR SMALL SCREENS */

body {
    margin: 0;
    padding: 0;
    background-color:  #25072e;
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: rgba(204, 200, 255, 0.8)
}

/* lists */

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* links */

a {
    text-decoration: none;
}

/* headers */

h1, h2, h3 {
    padding: 0;
    margin: 0;
}

/* buttons */

.btn-primary {
    padding: 7px 15px;
    background-color: rgba(204, 200, 255, 0.1);
    border-radius: 3px;
    border-color: rgba(204, 200, 255, 0.1); 
    letter-spacing: 1.6px;
    font-size: 12px;
    font-weight: 600;
    cursor: pointer;
    color: rgba(204, 200, 255, 0.8);
}

.btn-primary:hover{
    background-color: rgba(204, 200, 255, 0.4);
}

.btn-primary:focus {
    border: solid 1px rgba(204, 200, 255, 0.6);
}

/* pink borders */

.pink-border-top {
    border-top: 3px solid #EF008E;
}
.pink-border-bottom {
    border-bottom: 3px solid #EF008E;
}

/*main header, navigation*/

.main-header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    position: fixed;
    width: 100vw;
    z-index: 1;
    background-color: #25072e;
}

.logo {
    margin: 20px;
}

.navbar {
    padding: 0px;
    list-style: none;
    line-height: 30px;
    margin: 20px auto 20px 20px;
}

.navbar__item a {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 6.7px;
    color: rgba(239, 0, 142, 0.6);
}

.navbar__item a:hover {
    color: rgba(239, 0, 142, 1)
}

/*main*/

.content-section {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    min-height: 100vh;
    margin: 0 20px 50px 20px;

}

.section__header {
    padding: 20px 0;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 6px;
    color: #EF008E;
}

/*band members*/

.band-members {
    padding-top: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.band-members__name {
    font-size: 15px;
    font-style: bold;
    letter-spacing: 7px;
    opacity: 0;
}

.band-members__caption {
    opacity: 0;
    letter-spacing: 4px;
}

.band-members__item:hover > .band-members__photo {
    opacity: 1;
}
.band-members__item:hover > .band-members__name {
    opacity: 1;
}
.band-members__item:hover > .band-members__caption {
    opacity: 0.5;
}

/* Information about the band */

.band__photo {
    max-width: 100%;
}

.band__description {
    margin-top: 40px;
}

.band__description {
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    line-height: 18px;
    padding: 30px;
    background-color: #25072e;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.2);
}

.band__description h3{
    font-weight: bold;
    letter-spacing: 4px;
}


/*concerts information*/

.concerts__item {
    width: 100%;
margin-bottom: 40px;
}

.concerts__photo{
    max-width: 100%;
}

.concerts__tickets {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.concerts__details {
    line-height: 0px;
    letter-spacing: 3px;
}

.concerts__date {
    font-size: 15px;
    font-weight: bold;
}

.concerts__location {
    line-height: 15px;
    opacity: 0.8;
}


/* video */

.video-container {
    width: 100%;
    display: flex;
    align-items: center;
}

.video {
    max-width: 100%;
}

/* photo gallery */

.gallery__item {
    margin-bottom: 20px;
}

.gallery__image{
    max-width: 100%;
}
/* contact */

.contact {
    align-self: center;
}

.contact__photo {
    max-width: 100%;
}

.contact__photo{
    max-width: 100%;
}

.contact__info {
    margin-top: 40px;
    font-style: normal;
    letter-spacing: 2px;
    opacity: 0.8;
}

.contact__form {

    padding-top: 40px;
 
}
.form__field {
    margin-bottom: 10px;
}

.form__label {
    display: block;
    margin-bottom: 9px;
}

.form__input {
    display: block;
    height: 35px;
    width: 300px;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    background-color: rgba(219, 216, 251, 0.1);  
}

.form__button {
    margin-top: 20px;
}

/* footer */

.social-media {
    position: fixed;
    bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    line-height: 30px;
    background-color: #25072e;
}

.social-media__item {
    margin: 10px;
}

.social-media__image {
    width: 20px;
    opacity: 0.8;
}

.social-media__image:hover{
    opacity: 1;
}

.screen-reader-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}

/* adjusting navbar font size for screen not wider than 340px */

@media screen and (max-width: 340px) {
    .navbar__item a {
        font-size: 11px;
    }
}

/*MEDIUM SCREENS (TABLETS, IPADS, ETC)*/

@media screen and (min-width: 600px) {

    .content-section {
        min-height: calc(100vh - 200px);
    }

    .section__header {
        margin-bottom: 40px;
    }

    .band-members {
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        min-height: 100vh;
        justify-content: center;
        align-items: center;
    }

}

@media screen and (min-width: 1024px) {
   
    .band-members {
        flex-wrap: nowrap;
    }

    .concerts {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    
    .concerts__item {
        flex-basis: 50%;
        padding: 0 0 45px 55px;
    }

    
     
}


/* LARGE SCREENS*/

@media screen and (min-width: 1200px) {

    /*header*/

    .main-header {
        display: block;
        width: 220px;
        height: 100vh;
        z-index: 0;
        background-color: transparent;
    }

    .logo {
        margin-top: 50px;
        margin-left: 50px;
    }

    .navbar {
        margin-left: 50px;
    }

    /*main*/

    .main-content  {
        margin-left: 220px;
        padding: 0 50px
    }

    .section__header {
        margin: 40px 0;
    }

    /*band members*/

    .band-members {
        padding-top: 200px;
    }

    /* Information about the band */

    .band {
        position: relative;
        margin-left: 290px;
        margin-bottom: 150px;
        width: 75%;
    }
    
    .band__description {
        position: absolute;
        left: -275px;
        bottom: -75px;
        width: 380px;
    }

    /*concerts information*/

    .concerts {
        width: 80%;
    }

    /* video */

    .video-container {
        width: 90%;
    }

    /* photo gallery */

    .gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        width: 80%;
    }

    .gallery__item{
        flex-basis: 30%;
        padding: 0 0 20px 20px;
    }


    /* contact */

    .contact {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .contact__info {
        padding: 70px;
    }

    .contact__form {
        flex-basis: 50%;
        padding-top: 40px;
    }

    /* footer */

    .social-media {
        flex-direction: column;
        width: 220px;
        margin-bottom: 50px;
        background-color: transparent;
    }

    .social-media__item {
        margin: auto auto 10px 50px;
        padding: 0;
    }

}

/* Placing social media links on the right margin while resizing browser window vertically in order to prevent overlapping with navbar items */

@media screen and (min-width: 1200px) and (max-height: 550px) {
    .social-media {
        top: 200px;
        right: 60px;
        width: 20px;
        max-height: 220px;
    }
}

