html {
    box-sizing: border-box;
}
*, *:before, *after {
    box-sizing: inherit;
}

body {
    background-color:  #25072e;
    background-image: url("img/background.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Open Sans";
    color: #CCC8FF;
    font-size: 13px;
}

/*header*/

#main-header {
    display: inline-block;
    width: 20%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
}

.logo img {
    display: block;
    max-width: 80%;
    margin: 10% auto 30px 10%;
}

.navbar {
    display: block;
    margin: 0px auto 0px 30px;
    padding: 0px;
    list-style-type: none;
    line-height: 30px;
}

.navbar__item a {
    margin-left: 1vw;
    font-size: 13px;
    font-style: bold;
    letter-spacing: 8px;
    text-decoration: none;
    color: #EF008E;
    opacity: 0.8
}

.navbar__item a:hover {
    opacity: 1;
}

/*main*/

.main-content  {
    display: inline-block;
    width: 80%;
    float: right; 
}

.content-section {
    min-height: 100vh;
    margin-right: 50px;
}

.section__header {
    display: block; 
    margin-bottom: 50px;
    padding-top: 20px;
    font-size: 18px;
    font-style: bold;
    letter-spacing: 6px;
    text-align: right;
    color: #EF008E;
}

/*band members*/

.band-members {
    list-style-type: none;
}


.band-members__item {
    display: inline-block;
    margin-top: 150px;
}

.band-members__photo {
    opacity: 0.5;
}

.band-members__name {
    font-size: 15px;
    font-style: bold;
    letter-spacing: 7px;
    opacity: 0;
}

.band-members__caption {
    opacity: 0;
    letter-spacing: 4px;
}

.band-members__item:hover > .band-members__photo {
    opacity: 1;
}
.band-members__item:hover > .band-members__name {
    opacity: 1;
}
.band-members__item:hover > .band-members__caption {
    opacity: 0.5;
}

/* Information about the band */

.band {
    display: block;
    height: 100vh;
    position: relative;
}

.band__photo img{
    display: block;
    max-width: 55vw;
    float: right;
    z-index: 0;
}
    
.band__description {
    display: block;
    width: 30%;
    height: auto;
    float: left;
    position: absolute;
    left: 5%;
    bottom: 10%;
    border-bottom: 3px solid #EF008E;
    padding: 40px;
    background-color: #25072e;
}

.band__description h3{
    padding-bottom: 10px;
    font-style: bold;
    letter-spacing: 4px;
}

.band__description p {
    padding-top: 10px;
    word-spacing: 1.5px;
    letter-spacing: 1.5px;
    line-height: 18px;
    opacity: 0.8;
}

.pink-border-top img {
    border-top: 3px solid #EF008E;
}
.pink-border-bottom img {
    border-bottom: 3px solid #EF008E;
}

/*concerts information*/

.concerts {
    display: block;
    width: 90%;
    margin-left: 10%;
    margin-bottom: 10%;
}

.concerts__item {
    display: inline-block;
    width: 40%;
    float: right;
    padding: 10px;
}

.concerts__item img{
   display: block;
   width: 100%;
}

.concerts__details {
    display: inline-block;
    width: 40%;
}

.concerts__date {
    font-size: 15px;
    font-style: bold;
    letter-spacing: 2px;
}

.concerts__location {
    display: block;
    letter-spacing: 2px;
}

.btn-primary {
    float: right;
    position: relative;
    top: 20px;
    border-radius: 4px;
    border: none; 
    padding: 10px;
    background-color: rgba(204, 200, 255, 0.1);
    letter-spacing: 2px;
    font-size: 11px;
    color: rgba(204, 200, 255, 0.6);
}
.btn-primary:hover{
    background-color: rgba(204, 200, 255, 0.4);
}
.btn-primary:focus {
    border: solid 1px rgba(204, 200, 255, 0.6);
}

/* video */

.video-container {
    display: block;
    width: 80%;
    margin-left: 20%;
}

.video-container iframe {
    display: block;
    width: 100%;
}

/* photo gallery */

.gallery {
    display: block;
    width: 90%;
    margin-left: 10%;
}

.gallery__item{
    display: inline-block;
    list-style-type: none;
    width: 30%;
    padding: 10px;
}

.gallery__item img{
    display: inline-block;
    width: 100%
}

/* contact */

.contact-photo {
    display: inline-block;
    width: 45%;
    margin-left: 15%;
}

.contact-info {
    display: inline-block;
    margin-left: 5%;
    padding-top: 10%;
    position: absolute;
    font-style: normal;
    letter-spacing: 1.5px;
    opacity: 0.8;
}

.form {
    display: block;
    height: 30%;
    margin-top: 2%;
}

.form__field {
    margin: 1% 15% 0 15%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
    letter-spacing: 1.5px;
    opacity: 0.8;
}

.form__input {
    width: 40%;
    border-radius: 5px;
    background-color: #CCC8FF;
    line-height: 30px;
    opacity: 0.1;
    
}
.form__button {
    float: left;
    margin: 1% 0 0 15%;
}

/* footer */

.social-media {
    position: fixed;
    bottom: 40px;
    list-style: none;
    line-height: 30px;
}

.social-media__item img {
    width: 20px;
    height: auto;
    opacity: 0.8;
}

.social-media__item img:hover{
    opacity: 1;
}

.screen-reader-only {
    display: none;
}